<div class="container list-cards">
  <h1>My Lists</h1>
  <div class="container cards pt-4">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), style: "text-decoration: none", class:"link-card" do %>
        <div class="list-card d-flex align-items-center justify-content-center"><p class="card-title"><%= list.name %></p></div>
      <% end %>
    <% end %>
  </div>
</div>
