.home-banner {
  background-image: asset-url('movie_theater.png');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: contain;
}

.home-logo {
  font-family: 'Pacifico', cursive;
  color: #F9D949;
  font-size: 80px;
  text-shadow: 2px 2px #F45050;
  padding-bottom: 280px;
  padding-right: 40px;
}
